
.header{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .header-heading{
  position: relative;
  font-family: 'Futura Md BT','sans-serif';
  font-style: italic;
  font-weight: 600;
  font-size: 4vw;
  background-image: -webkit-linear-gradient(160deg, #4b4b4b 30.92%, #FFFFFF 48.36%, #4b4b4b 68.09%);
  -webkit-background-clip: text;
  background-clip: text;
  background-repeat: initial;
  background-size: 80%;
  animation: animate 6s linear infinite;
  -webkit-text-fill-color: rgba(255, 255, 255, .1);
  width:80%;
  z-index: -1;
  margin-top: 8%;
 }
 @keyframes animate
 {
  0%
  {
    background-position: -500%;
  }
  100%
  {
    background-position: 500%;
  }
 }
 .container1 {
    width: 100%;
    position:relative;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
  }
 .imagesize{
  position: absolute;
  width: 53%;
  height: auto;
 }
 .logoholder{
  width:85%;
 }
.award-column {
  float: left;
  width: 50%;
  display: grid;
  align-items: center;
  justify-content: center;
}
.award-row {
  padding:10px;              
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Clear floats after the columns */
.award-row:after {
  content: "";
  display: table;
  clear: both;
}
/* @media screen and (max-width: 850px) {
  .award-row {
    padding:10px;              
    width: 100%;
    display: grid;
    align-items: center; 
    justify-content: center;
  }
  .award-column {
    width: 80%;
    display: block;
    margin-bottom: 20px;
  }
} */
.award-main-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
}
.container-gsap-award {
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(150px);
  backdrop-filter: blur(150px);
  margin-top: 0px;
  width: 300px;
  height: 50px;
  border-radius: 15px 0px 70px 0px;
  word-wrap: normal;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.wordmark-title-award {
  border-radius: 15px 0px 70px 0px;
  color: black;
  position: relative;
  font-family: 'Futura Md BT','sans-serif';
  max-width: 300px;
  font-size: 35px;
  font-weight: bold;
  height: 50px;
  background-color: black;
}
.wordmark-title-award::after {
  padding: 10px 60px;
  content: "Awards";
  font-family: 'Futura Md BT','sans-serif';
  font-size: 35px;
  color: white;
  mix-blend-mode: difference;
}
.title-rect1-award {
  border-radius: 0px 0px 100px 0px;
  width: 450px;
  height: 20px;
  background: rgba(47, 196, 206, 0.1);
  border: 0.5px solid #FFFFFF;
  box-shadow: 1px 0px 2px #2FA6CE, inset 1px 0px 3px #FFFFFF;
  backdrop-filter: blur(10px);
  margin-left: 0%;
  position: absolute;
  margin-top: -10px;
  
}
.title-rect2-award {
  border-radius: 0px 0px 100px 0px;
  width: 120px;
  height: 20px;
  font-family: 'Futura  BT',sans-serif;
  background: rgba(47, 196, 206, 0.1);
  border: 0.5px solid #FFFFFF;
  box-shadow: 1px 0px 2px #2FA6CE, inset 1px 0px 3px #FFFFFF;
  backdrop-filter: blur(10px);
  margin-left: 0%;
  position: absolute;
  margin-top: 12px;
}
.rectangle-titlesvg-award{
  width: 130px;
  height: 100px;
  margin-left: 60px;
  margin-top: -220px;
}
@media screen and (max-width: 500px) {
.container-gsap-award {
  width: 200px;
  height:40px;
}

.wordmark-title-award {
  max-width: 200px;
  height:40px;
  font-size: 25px;
}
.wordmark-title-award::after {
  padding: 10px 40px;
  font-size: 25px;
}
.title-rect1-award {
  width: 250px;
  height: 20px;
}
.title-rect2-award {
  width: 80px;
  height: 20px;
}
.rectangle-titlesvg-award {
  width: 90px;
  height: 70px;
  margin-top: -170px;
  margin-left: 40px;
}
}
 