.pic{
    width: 10vw;
    min-width: 150px;
    margin-left: 80px;
    margin-top: 90px;
    }
  .heading-stats{
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  font-family: 'Futura  BT',sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .stats{
  display: grid;
  grid-template-columns: auto auto auto auto;
 }
 
 @media screen and (max-width:1000px) {
  .stats{
    grid-template-columns: auto auto auto;
  }
  
 }
 @media screen and (max-width:700px) {
  .stats{
    grid-template-columns: auto auto;
  }
 }
 @media screen and (max-width:480px) {
  .stats{
    grid-template-columns: auto;
    place-items: center;
  }
 }
