
form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  background: rgba(255,255,255,0);
  font-family: 'Futura Md BT','sans-serif';
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form-msg-p{
  width: 100%;
  text-align: center;
  height: fit-content;
  font-family: 'Futura Md BT','sans-serif';
  font-size: 13px;
  margin-top: 2%;
}
.form-div{
  border: 2px solid rgba(168, 168, 168, 0.5);
  height:fit-content;
  width:350px;
  background: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  display: inline-table;
  align-items: center;
  justify-content: center;
  margin-top: -35%;
}  
  /* Input style */
  .input-container {
    position: relative;
    display: flex;
    width:80%;
    flex-direction: column;
    margin-top: 10px;
    background-color: rgba(255,255,255,0.1);
  }
  .input-container:hover .label-name{
    transform: scale(1.2,1.2);
    font-weight: bold;
    color: #000000;
    background: rgba(255,255,255,0);
  }
  
  .input-container:focus-within .label-name {
    margin-top: -3%;
    transform: scale(1.2,1.2);  
    color: #000000;
    font-weight: normal;
  }
  .input-container .filled {
    transform: scale(1.2,1.2);  
    margin-top: -3%;
  }
  .input-container .label-name:focus{
     transform: scale(1.2,1.2);  
     margin-top: -3%;
  }
  .input-container .label-name {
    position: absolute;
    pointer-events: none;
    transform: translate(0, 23px) scale(1);
    transform-origin: top left;
    transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    color: black;
    font-size: 14px;
    line-height: 1;
    left: 10px;
    top:-13px;
  }
  .input-container .label2 {
    position: absolute;
    pointer-events: none;
    color: black;
    font-size: 15px;
    line-height: 1;
    left: 10px;
    top:-16px;
  }

  .input-container .input-box {
    height: 39.5px;
    border-radius: 8px;
    border: 1px solid #848484;
    font-size: 16px;
    line-height: 1;
    outline: none;
    box-shadow: none;
    transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    width:100%;
  }
  
  .input-container .input-box:focus {
    box-shadow: 0 0 0 2px #79b1ff;
    border: none;
  }
.input-box:invalid {
    color: red;
}
  /* .css-1s2u09g-control{
    background: rgba(255,255,255,0);
  } */
  .button{
    border-radius: 50px 50px;
    width:40%;
    height: 35px;
    border:4px solid rgb(221, 220, 220);
    font-size: 15px;
    font-weight: bold;
    /* box-shadow: 0 2px 5px 2px #a6a6a6; */
    color: white;
    background: -webkit-linear-gradient(270deg, orange 35%, rgba(0,0,0,0.7) );
  }
  .link{
    color: orange;
  }
  .checkbox{
    border:2px solid orange;
    border-radius: 50% !important;
  }
  @media screen and (max-width: 500px) {
    .button {
      font-size: 12px;
      font-weight: bold;
    }
  }
  @media screen and (max-width: 500px) {
    .button {
      font-size: 10px;
      font-weight: bold;
    }
    .form-div{
      width:325px;
    }  
  }
  